<html>
<head>
    <title>Reservation</title>
</head>
<body>
<fieldset style="width: 50%">
    <form method="POST">
        <table>
            <tr>
                <td>Nb place :</td>
                <td><input type="text" name="nb_place" value=""></td>
            </tr>
            <tr>
                <td>Date :</td>
                <td><input type="date" name="date_reservation" value=""></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="Enregistrer"></td>
            </tr>
        </table>
    </form>
</fieldset>
</body>
</html>












































