{% extends "::base.html.twig" %}

{% block title %}RestaurationBundle:Reservations:supprimerReservation{% endblock %}

{% block body %}
<h1>Welcome to the Reservations:supprimerReservation page</h1>
{% endblock %}
