
#taswira2
{
background-image: url("travello/images/home_slider.jpg");
}
#taswira3
{
background-image: url("travello/images/intro.png");
}
#taswira4
{
    background-image: url("CoolAdmin-master/images/bg-title-01.jpg");
}
#taswira5
{
    background-image: url("CoolAdmin-master/images/bg-title-02.jpg");
}

